{% load crispy_forms_tags %}

<div class="card-body comments-card">
    {% if comments %}<h2>Ваш комментарий</h2>{% endif %}
    <form action="{% url 'comment_create_url' post.slug %}" class="comments-form{% if not comments %}-new{% endif %}" method="post">
        {{ comment_form | crispy }}
        {% csrf_token %}
        <span class="markdown-on">Работает Markdown</span>
        <input type="hidden" name="parent_id" value="{{ comment.id }}">
        <button type="submit" class="btn btn-primary btn-lg">Отправить</button>
    </form>
</div>