{% load pluralize %}
{% load static %}

<div class="discussion-item {% if comment.mark %}marked-comment{% endif %}">
    <div class="discussion-header">
        {% if request.user.is_authenticated and request.user.is_staff %}
            <a href="{% url 'comment_delete_url' post.slug comment.id %}"><img src="{% static 'images/delete.svg' %}" alt="delete-comment-icon" class="mod-comment-icon"></a>
            <a href="{% url 'comment_mark_url' post.slug comment.id %}"><img src="{% static 'images/mark.svg' %}" alt="mark-comment-icon" class="mod-comment-icon"></a>
        {% endif %}
        <a href="{{ comment.get_absolute_url }}" class="comment-avatar" id="comment{{ comment.id }}"
           style="background-image: url('/static/images/avatars/{% if comment.name == 'Дмитрий Варкентин' %}warkentin.jpg{% else %}{{ comment.gen_avatar }}{% endif %}');"></a>
        <span class="author">{{ comment.name }}</span>
        <span class="discussion-meta">
            {% if comment.current_year == comment.created_on|date:"Y" %}
                {{ comment.created_on|date:"j E" }} в {{ comment.created_on|date:"H:i" }}
            {% else %}
                {{ comment.created_on|date:"j E Y" }}
            {% endif %}
        </span>
    </div>
    <div class="discussion-body">
        {{ comment.formatted_markdown|safe }}
        {% if post.allow_comments %}
            <a href="#" class="reply-action-link">
                {% if comment.children %}
                    {{ comment.children.count }} {{ comment.children.count|rupluralize:"ответ,ответа,ответов" }}
                    {% else %}
                    Ответить
                {% endif %}
            </a>
        {% endif %}
    </div>
</div>
