<meta name="title" content="Define yourself outside vim">
<meta name="description" content="Делюсь мыслями и ссылками, рассказываю про прочитанные книги и инструменты для автоматизации рутинных задач">
<meta name="keywords" content="программирование на python, автоматизация python, интересные блоги про python, автоматизация питон, автоматизация на питоне, рутина python, русские текстовые блоги, блоги о книгах, полезные блоги">

<meta property="og:type" content="website">
<meta property="og:site_name" content="Define yourself outside vim">
<meta property="og:title" content="Define yourself outside vim">
<meta property="og:description" content="Делюсь мыслями и ссылками, рассказываю про прочитанные книги и инструменты для автоматизации рутинных задач">
<meta property="og:url" content="https://warketnin.ru">
<meta property="og:locale" content="ru_RU">
<meta property="og:image" content="https://warkentin.ru/media/og_images/default.jpg">
<meta property="og:image:width" content="968">
<meta property="og:image:height" content="504">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Define yourself outside vim">
<meta name="twitter:description" content="Делюсь мыслями и ссылками, рассказываю про прочитанные книги и инструменты для автоматизации рутинных задач">
<meta name="twitter:image:src" content="https://warkentin.ru/media/og_images/default.jpg">
<meta name="twitter:url" content="https://warketnin.ru">
<meta name="twitter:domain" content="warkentin.ru">